development/
.flaskenv
.env
.vscode/
logs/
.DS_store

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

app.db
flaskapp.log*

client_secret.json
