{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

    <script>
        var graphs = {{plot | safe}};
        Plotly.plot('bargraph',graphs,{});
    </script>
{% endblock %}

{% block app_content %}
    <h1>Visualize Distribution</h1>
    <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="chart" id="bargraph">

                    </div>
                </div>
            </div>
        </div>
{% endblock %}

